<div class="card box-shadow vh mb-4">
  <div class="card-header p-r-12">
    Users <app-spinner *ngIf="loading"></app-spinner>
    <!-- <a routerLink="create" class="btn btn-sm btn-primary float-right ml-2">
      Create
    </a> -->
    <button (click)="refresh()" [disabled]="loading" class="btn btn-sm btn-outline-primary float-right">
      Refresh
    </button>
  </div>
  <div class="card-body px-0 pt-0 pb-0">
    <!-- <ag-grid-angular style="width: 100%; height: 500px;" [enableSorting]="true" [pagination]="true"
      class="ag-theme-balham" [rowData]="rows" [columnDefs]="columnDefs">
    </ag-grid-angular> -->
    <form (submit)="search()">
      <div class="input-group p-3">
        <input type="text" name="searchText" class="form-control" [(ngModel)]="searchText" placeholder="Search..."
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button type="button" *ngIf="searchText.length" class="btn btn-outline-secondary" (click)="clearSearch()">Clear</button>
          <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </form>

    <table class="table table-borderless table-hover tbl-admin" *ngIf="rows.length">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="pl">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Subscription</th>
          <th scope="col" class="text-md-right pr-3">Last Login </th>
          <th scope="col" class="text-md-right pr-3">Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td class="pl"><a [routerLink]="['/admin/users/details', row.id]">{{row.name}}</a></td>
          <td>{{row.emailAddress}}</td>
          <td [innerHTML]="isPaid(row)"></td>
          <td class="text-md-right pr-3">{{row.lastLoginTime | date:'medium'}}</td>
          <td class="text-md-right pr-3">{{row.creationTime | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="pr-3 float-right">
      <pagination *ngIf="totalItems > pageSize" [totalItems]="totalItems" [(ngModel)]="pageNumber"
        (pageChanged)="getDataPage($event.page)" [itemsPerPage]="pageSize" [boundaryLinks]="false" previousText="«"
        nextText="»" firstText="&laquo;" lastText="&raquo;"></pagination>
    </div>
  </div>
</div>