
// Body
$body-bg: #e6e6e6;

// Typography
$font-family-sans-serif: "Nunito";//"Fira Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$left-menu-color: #333;
$td-color:#464646;
$provider-box-border: 2px solid #d7d7d7;
$provider-box-color: #424c54;
$text-required: #999;

$dropdown-border-width: 0px;

$table-border-color: #eee;

$gradient: linear-gradient(65deg, #1274ED 0, #4992F0 100%);

// Colors
$blue: #007bff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #13CE66;
$teal: #4dc0b5;
$cyan: #45C7F1;

//cards
$card-cap-bg: #fff;
// $card-cap-color
$card-border-width: 1px;
$card-border-color: #ECECEE;
