<div class="card box-shadow vh mb-4">
  <div class="card-header p-r-12">
    Roles <app-spinner *ngIf="loading"></app-spinner>
    <a routerLink="create" class="btn btn-sm btn-primary float-right">        
      Create
    </a>
  </div>
  <div class="card-body px-0 pt-0 pb-0">
      <table class="table table-borderless table-hover tbl-admin" *ngIf="rows.length">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="pl">Name</th>
              <th scope="col">Display Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td class="pl">{{row.name}}</td>
              <td>{{row.displayName}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>