<form (submit)="updatePassword()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Update {{data.username}} Password</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row mb-0" *ngIf="errors">
        <label class="col-md-4 col-form-label text-md-right"></label>
        <div class="col-md-7 text-left">
          <app-errors [errors]="errors"></app-errors>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-md-4 col-form-label text-md-right">Admin Password</label>
          <div class="col-md-7 text-left">
            <input type="text" class="form-control" [(ngModel)]="model.adminPassword" name="confirm_password" placeholder="Confirm Password"
              [disabled]="saving" required>
          </div>
        </div>
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">New Password</label>
        <div class="col-md-7 text-left">
          <input type="text" class="form-control" [(ngModel)]="model.password" name="root_password" placeholder="Password"
            [disabled]="saving" required>          
          <small class="text-muted">save this password to send to user.</small>
        </div>
      </div>      
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
      <app-process-button text="Update Password" [isWorking]="saving"></app-process-button>
    </div>
  </form>