<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 px-0 py-0">
      <div class="card box-shadow">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form novalidate [formGroup]="form" (ngSubmit)="save()">
              <div class="form-group row" *ngIf="errors">
                  <div class="col-md-12">
                      <app-errors [errors]="errors"></app-errors>
                  </div>
              </div>
            <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right">Full Name</label>
                <div class="col-md-7">
                  <input id="text" formControlName="name" type="text" class="form-control" name="fullname" required>
                </div>
              </div>
            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-7">
                <input id="email" formControlName="emailAddress" maxlength="255" type="email" class="form-control" name="email" required>
                <app-control-error [control]="form.controls.emailAddress"></app-control-error>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-7">
                <input id="password" formControlName="password" [formGroup]="form" maxlength="32" type="password" class="form-control" name="password" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
              <div class="col-md-7">
                <input id="confirmPassword" formControlName="confirmPassword" [formGroup]="form" maxlength="32" type="password" class="form-control" name="confirmPassword" required>
                <div class="alert alert-danger mt-2 mb-0" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">
                    Password does not match</div>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <app-process-button text="Submit" [disabled]="!form.valid || saving" [isWorking]="saving"></app-process-button>   
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>