<div class="pt-4">
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Name:</label>
        <div class="col-md-6 text-left">
            <div class="form-control-plaintext text-capitalized">{{user.name}}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Email:</label>
        <div class="col-md-6 text-left">
            <input type="text" [value]="user.emailAddress" class="form-control-plaintext text-capitalized"
                name="emailAddress" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Subscription:</label>
        <div class="col-md-6 text-left">
                <div class="form-control-plaintext text-capitalized">{{user.cardLastFour ? "Paid" : "Free"}}</div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Is Active?:</label>
        <div class="col-md-6 text-left">
            <input type="text" [value]="user.isActive" class="form-control-plaintext text-capitalized" name="isActive"
                readonly>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Last Login:</label>
        <div class="col-md-6 text-left">
            <input type="text" [value]="user.lastLoginTime | date: 'medium'"
                class="form-control-plaintext text-capitalized" name="lastLogin" readonly>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Creation Time:</label>
        <div class="col-md-6 text-left">
            <input type="text" [value]="user.creationTime | date: 'medium'"
                class="form-control-plaintext text-capitalized" name="creationTime" readonly>
        </div>
    </div>
</div>