<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 px-0 py-0">
      <div class="card box-shadow">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="POST" (submit)="login()">
            <div class="form-group row" *ngIf="errors">
                <div class="col-md-12">
                    <app-errors [errors]="errors"></app-errors>
                </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
              <div class="col-md-6">
                <input id="email" placeholder="Your Email Address" type="email" class="form-control" name="email" [(ngModel)]="authenticateModel.userNameOrEmailAddress" required autofocus>
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
              <div class="col-md-6">
                <input id="password" placeholder="Your Password" type="password" class="form-control" name="password" [(ngModel)]="authenticateModel.password" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 offset-md-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="remember" id="remember" [(ngModel)]="authenticateModel.rememberClient">
                  <label class="form-check-label" for="remember">
                    Remember Me
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row mb-0">
              <div class="col-md-8 offset-md-4">
                <app-process-button text="Login" [isWorking]="working"></app-process-button>                
                <a class="btn btn-link" routerLink="/account/forgot-password">
                  Forgot Your Password?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>