body {
  background: #f8f8f8;
}
  /* progress loader */
  .app-loader-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0px auto;
    width: 300px;
    padding: 0px 5px;
    border-radius: 3px;
  }
  .app-loader {
    height: 25px;
    position: relative;
    overflow: hidden;
  }
  .app-loader-bar{
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: -200px;
    width: 200px;
    height: 15px;
    background: linear-gradient(65deg, #1274ED 0, #4992F0 100%);
    animation: app-loading 2s linear infinite;
  }

  @keyframes app-loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }
  /* / progress loader */
